h3{
    color:#003a90;
}

#desc{
    padding: 2px 5px 2px 5px;
    height: 450px;
    background-color: white;
    text-align: center;
}


#desc ul {
    list-style-type: none;
    font-style: italic;
    text-align: justify;
    margin-left: 160px;
}

#desc ul li{
    
}

#sidebar{
    margin: 0;
    padding: 0;
}
.sidbtn, #transition{
    
    display: block;
    margin: 0 4px;
    margin-top: 10px;
    background:#4dd2ff;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;

}

#transition a{
    padding: 8px 8px;
    font-size: 10pt;
    display: block;
    text-decoration: none;
    color: white;
    

}

#transition:hover a{
    color: black;
    
}

.sidbtn a{
    padding: 8px 2px;
    font-size: 10pt;

    display: block;
    text-decoration: none;
    color: white;
    
}

.sidbtn:hover a{
    color: black;
}

#sidebar h5{
    text-align: center;
    margin: 0;
    padding: 0;
}


#sidebar ul a{
    text-decoration: none;
    color: darkblue;
    

}

#sidebar ul a:hover{
    text-decoration: none;
    color:blue;
    
}


#sidebar ul{
    
    list-style: none;
    margin:0;
    padding: 0;
    
}
#sidebar ul li{
    font-size: 10pt;
    margin: 5px 8px;
    text-align: center;
    padding: 0;
}