#mainsection div{
    display: block;
    text-align: center;
}

#mainsection div ul li{
    margin: 5px 0px;
}

#mainsection div p{
    font-size: 16pt;
    color:#003a90;
}
#mainsection img{
    bottom:0px;
    max-width: 940px;
    
}