/* barra laterale sinistra*/

aside{               
	position:relative;
	float: left;
	display: block;
    background:#f2f2f2; 
    width: 150px;
	height: 621px;
}



/*modifica lista bottoni barra laterale sinistra*/
aside>ul>li{        
	display: block;
	position: relative;
	margin:5px;
}



.asbtn{
    display: inline-block;
    border-radius: 4px;
    background-color:#b3ecff;
    box-shadow: 2px 2px 1px  lightgray;
    border: none;
    width: 140px;
    height: 30px;
    color: #003a90;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.asbtn a:link{
    text-decoration: none;
    color: #003a90;
}

.asbtn a:visited{
    text-decoration: none;
    color: #003a90;
} 

.asbtn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition:0.5s;
}

.asbtn span:after{
    content: ">>";
    position: absolute;
    opacity:0;
    top:0;
    right:-20px;
    transition: 0.5s;
}

.asbtn:hover span{
    padding-right: 25px;
}

.asbtn:hover span:after{
    opacity: 1;
    right: 0;
}

