.asbtn span:after{
    content: " ";
    position: absolute;
    opacity:0;
    top:0;
    left:-20px;
    transition: 0.5s;
}

.asbtn:hover span{
    padding-left: 25px;
}

h1{
    position: absolute;
    top: 10px;
    left:20%;
    text-align: center;
    font-weight: normal;
    color: #003a90;
    font-family: "Myriad Pro", Myriad, sans-serif;
    font-size: 30px; 
    font-style: italic;
    margin: 0 auto;
}

.conteiner{
    background-color: white;
    position: absolute;
    top: 50px;
    right:1px;
    width: 930px;
    height: 550px;
}

.text{
    position: absolute;
    top: 10px;
    margin: 30px 10px 10px 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-content: center;
}

.text p{
    margin: 0 10px 0 10px;
    font-family: "Myriad Pro", Myriad, sans-serif;
    font-size: 16px;
    text-align: center;
    align-content: center;
}

.box{
    width: 100%;
    height: 500px;
    align-content: center;
}

.sx, .cen, .dx{
    position: absolute;
    top: 10%;
    margin: 80px 20px 0 20px;
    width: 250px;
    height: 340px;
    background-color: #b3ecff;
    transition: .4s ease;
}

.cen{
    left: 34%;
    
}

.dx{
    right: 1%;
}

.sx:hover, .cen:hover, .dx:hover{
    transform: scale(1.1);
    transition: .4s ease;
    box-shadow: 0 1px 4px #006666, 0 0 40px #006666 ;
       
}

.img{
    position: absolute;
    margin: 10px 2px 0 10px;
    background-color: black;
    width: 230px;
    height: 200px;
}