 #title{
    position: relative;
    width: 800px;
    top:5px;
     left: 60px;
    text-align: center;
    margin: 10px auto;
    font-weight: normal;
    color: #003a90;
}

 #bio{
    position: relative;
    top:20px;
    text-align: center;
    margin:20px 0px;
    padding-bottom: 20px;
}



.floatbox {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #e6f9ff;
    color: #003a90;
    display: inline-block;
    width: 280px;
    height: 270px;
    margin: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 25px;

}

.floatbox a{
    text-decoration: none;
    color:#003a90;
}

.floatbox ul li{
    list-style: none;
    text-align: justify;
    padding: 5px;
}

#head_box{
    position:relative ; 
    top:9px;
    left:1px;
}