.centerGrid #mainsection{
    float: left;
    display: inline-block;
    position:relative;
    width: 940px;
    min-height: 640px;
    margin: 0 auto;
    bottom: 0;
}
/*
* barra di navigazione della sezione principale
*/
.centerContent{
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.centerGrid nav{
    display: inline-block;
    width: 941px;
    position: relative;
    float:left;
    text-align: center;
    background:#e6f9ff;
}

.centerGrid nav .btn{
    border: none;
    text-align: center;
    
    display: inline-block;
    font-size:14px;
    cursor: pointer;
    padding: 2px;
    position: relative;
    
    width: 100px;
    float:left;
    color: #66d9ff;
    color:#00b8e6;
    padding: 5px 0;
    text-decoration: none;
}


.centerGrid nav .btn:hover {
    border-bottom: 3px solid #66d9ff;
}


