/*
***************************************
*   Impaginazione con body centrato:  *
***************************************
*/
.centerGrid{
    display: block;
	width:1100px;
    position: relative;
    margin:0 auto;
    
    max-height: 3000px;
    min-height: 720px;
    display: block;    
	background-color: white;
	box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    
}


body{
    
    margin: 0;
    padding: 0;
    background-color: #e6e6e6; 
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #a6a6a6,
    #f2f2f2)center center fixed no-repeat; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #a6a6a6,
    #f2f2f2)center center fixed no-repeat; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #a6a6a6,
    #f2f2f2)center center fixed no-repeat; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #a6a6a6,
    #f2f2f2)center center fixed no-repeat; /* Standard syntax */

	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}





/*
********************
*   header style:  *
********************
*/
header{ 
	display:-inline-block;
	background-color:#003a90;
    background: #4dd2ff;
  
    
	width: 100%;
    min-height: 50px;
}

#logo{
	float: left;
    position:absolute;
    z-index: 10;
    max-height: 30px;
   
    padding-top: 8px;
    padding-left: 10px;
}

#menu{  /*div per contenere i landmark*/
    padding: 0;
}

.selected{
    background: white;
    color: black;
}

#menu #arraybutton{  /* listato non ordinato landmark*/
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#menu #arraybutton .menubtn {  /*listato landmark, definizione dei box dove contenere i nomi e i link*/
    width: 120px;
    float: left;
    margin:0 ;
}


.menulink{   
    color: white;
	font-size: 12pt;
	font-weight: normal;
    text-decoration: none;
    height: 20px;
    
    text-align: center;
    padding:15px;
    
	display: block;
    transition: 0.2s ease-in;
    
}

.menulink:hover{
    background: white;
    background: #001f4d;
    
  background: #0059b3;
    color: #ff1a1a;
    color:white;
 
}

.menubtn ul:hover + .menulink{
    background: #0059b3;
    color:#003a90;
    color: white;
} 

/*
*   dropdown menù (categorie)
*/

#arraybutton .menubtn ul{ /* listato per menù a tendina, modifiche per background*/
    background-color: #001f4d;
    background: #0059b3;
    display: none;
}


#menu > #arraybutton > .menubtn > ul{  /*box per menù a tendina*/
    position: absolute;
    left: -150px;
    top: 49px;
    width: 1100px;
    height: 105px;
}

#menu > #arraybutton > .menubtn > ul >  li{
    position: relative;
    display: block;
    float:left;
    
    list-style-type: none;
}

#menu > #arraybutton > .menubtn > .x5dropdown li{   
    position: relative;
    display: block;
    width: 220px;
    float:left;
    
    list-style-type: none;
}

#menu #arraybutton .menubtn .x4dropdown li{   
    position: relative;
    display: block;
    width: 275px;
    float:left;
    list-style-type: none;
}


#menu #arraybutton .menubtn ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    height: 68px;
    
    margin: 0 3px;
    margin-top: 4px;
}


/*on hover .menubtn deve essere mostrato il dropdown menu*/
#menu .menubtn:hover ul{ /* animazioni per menù a tendina, ombre e posizione*/
    display: block;
    position: absolute;
    z-index:1;
    width:1100px;
    height:105px;
    padding: 0;
    margin: 0 0 0 0;
    box-shadow: 1px 1px 1px  darkgray;
}


#menu li li a {
    color: white;
    position: relative;
    display: block;
    font-size: 10pt;
    transition: 0.2s linear;
}


#menu #arraybutton .menubtn ul li a:hover{
    color: #ff1a1a;
    background: white;
}

#chisiamo{
	color:#ff8080;
    font-weight: normal;
}

