


#mainsection .txt h3{
    color: #0e4aa4;
    text-align: center;

}

.paragrafo{
    font-size: 14px;
    text-align: center;
}

#mainsection .txt{
    position: relative;
    margin: 0 auto;
}

#mainsection .card img{
    max-width: 216px;
    max-height: 200px;
    display: block;
    float: left;
}

#mainsection .card{
    display: inline-block;
    width: 95%;
    margin: 0 auto;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    float: left;
    background:#e6f9ff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

#mainsection .card p{
    width: 640px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    float: right;
}

/*
.txt_box_sx{
    background: lightgray;
    position:absolute;
    left: 50%;
    width:180px;
    bottom: 15%;
}


.par_box_sx{

    font-size: 13px;
    color:#003a90;
    width:180px;
    position: absolute;
    left: 51%;
    bottom: 20%
    
}

.par_box_dx{
    font-size: 13px;
    color:#003a90;
    width:180px;
    position: absolute;
    left: 51%;
    bottom: 20%
}


.img{
    right: 60px;
    top: 290px;
    width: 810px;
    height: 310px;
    background: white;
}

.img_sx{
    position: absolute;
    width: 360px;
    height: 250px;
    background: #f2f2f2;
    top: 20px;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 1px lightgray ;
    left: 15px;
}

.img_dx{
    position: absolute;
    width: 360px;
    height: 250px;
    background: #f2f2f2;
    top: 20px;
    left: 435px;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 1px lightgray ;
}*/