
.asbtn span:after{
    content: " ";
    position: absolute;
    opacity:0;
    top:0;
    left:-20px;
    transition: 0.5s;
}

.asbtn:hover span{
    padding-left: 25px;
}

h1{
    position: absolute;
    top:10%;
    left:25%;
    text-align: center;
    color: #003a90;
    font-family: "Myriad Pro", Myriad, sans-serif;
    font-size: 30px; 
    font-style: italic;
    margin: 15px auto;
}

.conteiner{
    background-color: white;
    position: absolute;
    top: 50px;
    right:1px;
    width: 930px;
    height: 580px;
}

.text{
    position: absolute;
    top: 5%;
    margin: 15px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-content: center;
}

.text p{
    font-family: "Myriad Pro", Myriad, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    align-content: center;
}


.uppercont, .downcont{
    width: 910px;
    height: 240px;
    
}

.uppercont{
    position: relative;
}

.downcont{
    position: relative;
    top:230px;
    
}
.sx, .cen, .dx{
    display: inline-block;
    position: relative;
    top: 1%;
    left:4%;
    width: 240px;
    height: 410px;
    margin: 20px;
    background-color: aliceblue;
    text-align: center;
    margin: 80px 20px 0 20px;
	transition: .4s ease;
}

.sx:hover, .cen:hover, .dx:hover{
    transform: scale(1.1);
    transition: .4s ease;
    box-shadow: 0 1px 4px #006666, 0 0 40px #006666 ;
    cursor: pointer;
}

h3{
    background-color: aliceblue;
    height: 18px;
    width:100%;
    font-family: "Myriad Pro", Myriad, sans-serif;
    color: #003a90;
}

.image{
    position: absolute;
    width: 220px;
    height: 360px;
    background-color: black;
    margin: 10px 10px 10px 10px;

}

.info{
    position: absolute;
    width: 240px;
    height: 50px;
    top: 87%;
    font-family: "Myriad Pro", Myriad, sans-serif;
	font-size: 16px;

}

