 #title{
    position: relative;
    width: 800px;
    top:5px;
     left: 60px;
    text-align: center;
    margin: 10px auto;
    font-weight: normal;
    color: #003a90;
}

.form{
    position: relative;
    left:150px;
    height: 510px;
    width: 942px;
}


h1{
    color: #003a90;
    font-size: 30px;
    font-style: italic;
    position: absolute;
    left: 50%;
}


.form ul{
    position: relative;
    right:50px;
    top:70px;
    list-style: none;
    width: 90%;
    height: 100%;
    margin: 0 30px 30px 0px;
    
}

.form ul li{
    display: inline;
    list-style: none;
    
}

.form ul li input{
    float: right;
    padding: 15px;
    width: 50%;
    display: inline-block;
    margin: 0px 10px 20px 10px;
}


.form ul li label{
    
    text-align: left;
    font-size: 25px;
    font-style: italic;
    color: #003a90;
    float:left;
    margin: 10px 40px 30px 0px;
    
}

#richiesta {
    height: 150px;
    width: 60%;
    float: left;
    position: relative;
    top: 15px;
    left: 60px; 
    text-align: left;
}

.send{
    position: relative;
    left:35%;
    width: 130px;
    height: 50px;
    border-radius: 4px;
    background-color: #003a90;
    color: whitesmoke;
    font-family: "Myriad Pro", Myriad, sans-serif;
	font-size: 15pt;
	font-weight: lighter;
    box-shadow: 2px 2px 1px gray;
    
}

/*.asbtn span:after{
    content: " ";
    position: absolute;
    opacity:0;
    top:0;
    left:-20px;
    transition: 0.5s;
}

.asbtn:hover span{
    padding-left: 25px;
}
