centerGrid #mainsection{
    float: left;
    display: inline-block;
    position:relative;
    width: 940px;
    margin: 0 auto;
    bottom: 0;
}

/*
* Sidebar 
*/
#sidebar{
    margin: 0;
    padding: 0;
}
.sidbtn, #transition{
    
    display: block;
    margin: 0 4px;
    margin-top: 10px;
    background:#4dd2ff;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;

}

#transition a{
    padding: 8px 8px;
    font-size: 10pt;
    display: block;
    text-decoration: none;
    color: white;
    

}

#transition:hover a{
    color: black;
    
}

.sidbtn a{
    padding: 8px 2px;
    font-size: 10pt;

    display: block;
    text-decoration: none;
    color: white;
    
}

.sidbtn:hover a{
    color: black;
}

#sidebar h5{
    text-align: center;
    margin: 0;
    padding: 0;
}


#sidebar ul a{
    text-decoration: none;
    color: darkblue;
    

}

#sidebar ul a:hover{
    text-decoration: none;
    color:blue;
    
}


#sidebar ul{
    
    list-style: none;
    margin:0;
    padding: 0;
    
}
#sidebar ul li{
    font-size: 10pt;
    margin: 5px 8px;
    text-align: center;
    padding: 0;
}
#xind{
    display: block;
}

/*
* barra di navigazione della sezione principale
*/
.centerContent{
    position: relative;
    width: 420px;
    margin: 0 auto;
}

.centerGrid nav{
    display: inline-block;
    width: 941px;
    position: relative;
    float:left;
    text-align: center;
    background:#e6f9ff;
}

.centerGrid nav .btn{
    border: none;
    text-align: center;
    
    display: inline-block;
    font-size:14px;
    cursor: pointer;
    padding: 2px;
    position: relative;
    
    width: 140px;
    float:left;
    color: #66d9ff;
    color:#00b8e6;
    padding: 5px 0;
    text-decoration: none;
}

#btnsott{
    color:#FFBD66;
}

#btnsott:hover{
    border-bottom: 3px solid #FFBD66;
}

.centerGrid nav .btn:hover {
    border-bottom: 3px solid #66d9ff;
}

/*
*    SEZIONE PRINCIPALE CON LA DESCRIZIONE
*/

#centerCont{
    display: block;
    text-align: center;
    padding: 30px 0px;
    color: #003a90;
}

.art h3,.art h2{
    font-weight: normal;
     color: #003a90;
}
.art h2{
    font-size: 14pt;
}

.art h3,.art p, .art h2{
    margin-left: 40px;
    margin-right:  40px;
    max-width: 860px;
}

.art{
    display: inline-block;
    text-align: center;
}

#mainimg img{
    width: 942px;
}