
 #title{
    width: 205px;
    margin: 10px auto;
    color: #003a90;
}

.text{
    text-align: center;
    margin:20px 0px;
    padding-bottom: 20px;
}

.descr{
    background: #e6f9ff;
}

#mainsection img{
    max-width: 1100px;
}
#mainsection{
    height:  1100px;
}

#mainsection .cat_tile{
    width: 300px;
    height: 205px;
    margin-left:20px;
    background:#ccf2ff;
    color: #003a90;
    display: block;
    padding: 10px 10px;
    border-radius: 100px;
    text-align: center;
}

#mainsection .cat_tile:hover{
    color:white;
    background:  #003a90;
}

#mainsection .cat_tile:hover p{
    color:whitesmoke;
}

#mainsection a{
    text-decoration: none;
    margin: 30px 30px;
    display: block;
    width: 280px;
    float: left;
}


#mainsection .cat_tile p{
    color:black;
    font-size: 10pt;
}

#mainsection .downcont{
    width: 420px;
    margin: 0 auto;
}
