h3{
    color: #0e4aa4;
    position: relative;
    left: 35%;
}

.paragrafo{
    
    font-size: 14px;
    position: relative;
    text-align: center;
}

.img{
    position: absolute;
    top: 180px;
    right:65px;
    width: 810px;
    height: 350px;
    background: white;
}

.img_sx{
    position: absolute;
    width: 250px;
    height: 400px;
    background: #e6f9ff;
    top: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_cen{
    position: absolute;
    width: 250px;
    height: 400px;
    background: #e6f9ff;
    top: 20px;
    left: 280px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_dx{
    position: absolute;
    width: 250px;
    height: 400px;
    background: #e6f9ff;
    top: 20px;
    left: 560px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

.txt{
    background: #e6f9ff;
    height: 210px;
    width: 230px;
    position: relative;
    top: 6px;
    left: 10px;
}

.txt_style{
    text-align: center;
    font-size: 16px;
    color: #003a90;
    font-family: "Myriad Pro", Myriad, sans-serif;
}