h3{
    color: #0e4aa4;
    position: absolute;
    top: 50px;
    left: 30%;
}

.paragrafo{
    font-family: "Myriad Pro", Myriad, sans-serif;
    font-size: 14px;
    position: absolute;
    right:70px;
    top:80px;
    text-align: center;
}

.img{
    position: absolute;
    top: 180px;
    right:65px;
    width: 810px;
    height: 350px;
    background: white;
}

.img_sx{
    position: absolute;
    width: 250px;
    height: 400px;
    background: lightgray;
    top: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 8px 8px 0;
}

.img_cen{
    position: absolute;
    width: 250px;
    height: 400px;
    background: lightgray;
    top: 20px;
    left: 280px;
    border: 1px solid lightgray;
    box-shadow: 0 8px 8px 0;
}

.img_dx{
    position: absolute;
    width: 250px;
    height: 400px;
    background: lightgray;
    top: 20px;
    left: 560px;
    border: 1px solid lightgray;
    box-shadow: 0 8px 8px 0;
}

.txt{
    background: lightgray;
    height: 230px;
    width: 230px;
    position: relative;
    top: 6px;
    left: 10px;
}

.txt_style{
    text-align: center;
    font-size: 16px;
    color: #003a90;
    font-family: "Myriad Pro", Myriad, sans-serif;
}